@font-face{
    font-family: WoWFont;
    src: url(./LifeCraft_Font.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: WoWFont;
}

.cover {
    display: block;
    width: 200px;
}

h1,h2, p {
    letter-spacing: 1px;
}